.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Tauri
/src-tauri/target
/src-tauri/gen

config.db
data.db

data/cheats.db

data/temp_logo_Frue_Lufia__v6_0_.png

data/Frue_Lufia__v6_0_.cht

example.cht

import_cht_to_sqlite.py

scripts/extract-icon.ps1
